<!DOCTYPE html>
<html lang="en">
    <head>
    {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <title>Robert Hassenmayer Projects</title>
        <link rel="stylesheet" href="{% static 'proj_list.css' %}">
        <script src="https://kit.fontawesome.com/d8a298c102.js" crossorigin="anonymous" defer></script>
        <script type="text/javascript" src="{% static 'script.js' %}" defer></script>
    </head>
    <body class="display-body">
        <header>
            <a href="#" class="logo">Projects</a>
            <div class="toggle" onclick="toggleMenu();"><i class="fa-solid fa-bars"></i></div>
            <ul class="menu">
                <li><a href="#title-p" onclick="toggleMenu();">Python</a></li>
                <li><a href="#title-w" onclick="toggleMenu();">Web</a></li>
                <li><a href="#title-b" onclick="toggleMenu();">Bash</a></li>
            
            </ul>
        </header>
        <h2 id="title-p">Python</h2>
        <hr>
        <section class="display" id="python">
        {% for i in python_projects %}
        {% if i.title == "Quiz Application" %}
            <div class="box">
                <img id="quiz-img" src="{{ i.image.url }}">
                <hr>
                <h2>{{ i.title }}</h2>
                <p>
                    {{ i.description }}
                </p>
            </div>
        {% else %}
            <div class="box">
                <img src="{{ i.image.url }}">
                <hr>
                <h2>{{ i.title }}</h2>
                <p>
                    {{ i.description }}
                </p>
            </div>
        {% endif %}
        {% endfor %}
            
            
        </section>
        <h2 id="title-w">Html, Css, Javascript</h2>
        <hr>
        <section class="display" id="web">
        {% for i in html_projects %}
            <div class="box">
                
                <img src="{{ i.image.url }}">
                <hr>
                <h2>{{ i.title }}</h2>
                <p>
                    {{ i.description }}
                </p>
            </div>
        {% endfor %}
        </section>
        <h2 id="title-b">Bash</h2>
        <hr>
        <section class="display" id="bash">
        {% for i in bash_projects %}
            <div class="box">
                
                <img src="{{ i.image.url }}">
                <hr>
                <h2>{{ i.title }}</h2>
                <p>
                    {{ i.description }}
                </p>
            </div>
        {% endfor %}
        </section>
    </body>
</html>