<!DOCTYPE html>
<html lang="en">
    <head>
    {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <title>Robert Hassenmayer Projects</title>
        <link rel="stylesheet" href="{% static 'proj_list.css' %}">
        <script src="https://kit.fontawesome.com/d8a298c102.js" crossorigin="anonymous" defer></script>
        <script type="text/javascript" src="{% static 'script.js' %}" defer></script>
    </head>
    <body class="display-body">
        <header>
            <a href="#" class="logo">Projects</a>
            <div class="toggle" onclick="toggleMenu();"><i class="fa-solid fa-bars"></i></div>
            <ul class="menu">
                <li><a href="#title-p" onclick="toggleMenu();">Python</a></li>
                <li><a href="#title-w" onclick="toggleMenu();">Web</a></li>
                <li><a href="#title-b" onclick="toggleMenu();">Bash</a></li>
            
            </ul>
        </header>
        <h2 id="title-p">Python</h2>
        <hr>
        <section class="display" id="python">
            
            <div class="box">
                <img src="{% static 'imgs/passmanager.png' %}">
                <hr>
                <h2>Password Manager</h2>
                <p>
                    Local password manager and generator
                </p>
            </div>
            <div class="box">
                
                <img  id="quiz-img" src="{% static 'imgs/quiz.png' %}">
                <hr>
                <h2>Quiz Application</h2>
                <p>
                    Test your knowledge in a true or false test
                </p>
            </div>
            <div class="box">
                
                <img src="{% static 'imgs/snake_preview.png' %}">
                <hr>
                <h2>Snake Clone</h2>
                <p>
                    Classic Snake rebuilt with python
                </p>
            </div>
            <div class="box">
                
                <img src="{% static 'imgs/states_game_preview.png' %}">
                <hr>
                <h2>U.S. States Guessing Game</h2>
                <p>
                    A game for learning the states of the U.S.
                </p>
            </div>
            <div class="box">
                
                <img src="{% static 'imgs/flashcardE.png' %}">
                <hr>
                <h2>Virtual Flash-cards</h2>
                <p>
                    A flash card application that can be used to make custom cards for studying
                </p>
            </div>
            <div class="box">
                
                <img src="{% static 'imgs/pomodoro.png' %}">
                <hr>
                <h2>Pomodoro Timer</h2>
                <p>
                    A timer for efficient studying
                </p>
            </div>
            
        </section>
        <h2 id="title-w">Html, Css, Javascript</h2>
        <hr>
        <section class="display" id="web">
            <div class="box">
                
                <img src="{% static 'imgs/online-text-editor.png' %}">
                <hr>
                <h2>Online Text Editor</h2>
                <p>
                    Web browser based text editor
                </p>
            </div>
        </section>
        <h2 id="title-b">Bash</h2>
        <hr>
        <section class="display" id="bash">
            <div class="box">
                
                <img src="{% static 'imgs/mkcmd.png' %}">
                <hr>
                <h2>mkcmd Command</h2>
                <p>
                    This Bash command automates the process of turning a bash or python script into a bash command
                </p>
            </div>
            <div class="box">
                
                <img src="{% static 'imgs/search.png' %}">
                <hr>
                <h2>search Command</h2>
                <p>
                    This command makes use of multiple file and folder search options from a bash console and confines them into one command
                </p>

            </div>
            <div class="box">
               
                <img src="{% static 'imgs/quicknote.png' %}">
                <hr>
                <h2>Quicknote</h2>
                <p>
                    This tool is a speedy and simple way to take notes when working on the command line
                </p>
            </div>
        </section>
    </body>
</html>